## In class exercises
Answer the following questions:
 - Which recipient has the highest number of records among all recipients?
 - how many recipients used the services in January? 
 - for each month, how many recipients used services?
 - Given an ID, how many months did the particular recipient (by ID) use the service? e.g., 449747
 - do the statistics on the columns make sense? e.g., are there any inconsistencies between age and education level?

In [32]:
#Part 1 of In-Class Exercise
import pandas as pd
import numpy as np
import os
os.chdir('C:/Users/christian fink/OneDrive/Math485') 
df = pd.read_csv('dhs_service_records_synthesized_final.csv')
df["MCI_UNIQ_ID"].value_counts()

MCI_UNIQ_ID
178128    89
392121    89
306750    88
121055    85
221385    85
          ..
151170     1
514595     1
99279      1
514992     1
535156     1
Name: count, Length: 533799, dtype: int64

In [36]:
#Part 2 and 3 of In-Class Exercise
df.groupby("DATE_OF_EVENT").nunique()

,synthetic_data,MCI_UNIQ_ID,CALDR_YR,service,GEO_AREA,age,DOB,DOD,GENDER,GENDER_IDENTITY,SEX_ORIENT,LEGAL_SEX,RACE,ETHNICITY,LIVING_ARRANGEMENT,EMPLOYMENT_STATUS,MARITAL_STATUS,EDUCATION_LEVEL,VETERAN_FLAG
DATE_OF_EVENT,,,,,,,,,,,,,,,,,,,
01/31/2021,1,457593,1,22,0,112,0,0,3,0,0,0,7,3,0,0,7,8,0
02/28/2021,1,461207,1,22,0,112,0,0,3,0,0,0,7,3,0,0,7,8,0
03/31/2021,1,465763,1,22,0,112,0,0,3,0,0,0,7,3,0,0,7,8,0
04/30/2021,1,469090,1,22,0,112,0,0,3,0,0,0,7,3,0,0,7,8,0
05/31/2021,1,467082,1,22,0,112,0,0,3,0,0,0,7,3,0,0,7,8,0
06/30/2021,1,470430,1,22,0,112,0,0,3,0,0,0,7,3,0,0,7,8,0
07/31/2021,1,473887,1,22,0,112,0,0,3,0,0,0,7,3,0,0,7,8,0
08/31/2021,1,477523,1,22,0,112,0,0,3,0,0,0,7,3,0,0,7,8,0
09/30/2021,1,484128,1,22,0,112,0,0,3,0,0,0,7,3,0,0,7,8,0
10/31/2021,1,489308,1,22,0,112,0,0,3,0,0,0,7,3,0,0,7,8,0
11/30/2021,1,494557,1,22,0,112,0,0,3,0,0,0,7,3,0,0,7,8,0
12/31/2021,1,495124,1,22,0,112,0,0,3,0,0,0,7,3,0,0,7,8,0

In [ ]:
#Part 4 of In-Class Exercise
df[df["MCI_UNIQ_ID"] == 449747].nunique()
#Part 5 of In-Class Exercise
#I think that age is only weird because it goes up to 112. Otherwise there are no inconsistencies.

In [37]:
#Part 1 of In-Class Exercise
df.groupby("service")['MCI_UNIQ_ID'].nunique().sort_values(ascending = False)

service
Individuals_Receiving_Income_Supports                         502530
Individuals_Receiving_DHS_Services                             82122
Individuals_Receiving_Mental_Health_Services                   55263
Individuals_Receiving_Homelessness_and_Housing_Services        21823
Older_Adults_Receiving_Services                                16759
Individuals_Receiving_Substance_Use_Disorder_Services          12812
Children_Receiving_Child_Welfare_Services                       7306
Mental_Health_Crises                                            7245
Parents_Receiving_Child_Welfare_Services                        7078
Jail_Population                                                 6922
Children_Receiving_Early_Intervention_Services                  6752
Individuals_Receiving_Intellectual_Disability_Services          6360
Involuntary_Commitments                                         5010
Homeless_Population                                             3415
Families_Receiving_Child_Welfare_Services                       3118
Individuals_Receiving_Family_Strengthening_Programs             2986
Children_in_Care                                                2237
Overdoses                                                       1319
Children_Receiving_DHS_Funded_Out_of_School_Programs            1198
Suicides                                                        1177
Children_Attending_Early_Childhood_Programs_Managed_by_DHS       349
Homicides                                                        172
Name: MCI_UNIQ_ID, dtype: int64

In [35]:
df.rename(columns = {'mci_uniq_id': 'id', 
                    'date_of_event': 'date', 
                    'marital_status': 'marital', 
                    'education_level':'education'}, inplace=True)
def get_recipient_attribute(df):
    recipient = df.groupby(['id']).agg(
        num_service = ('service', 'count'),
        distinct_service = ('service', 'nunique'), 
        first_date = ('date', 'min'), 
        last_date = ('date', 'max'), 
        num_month = ('month', 'count'), 
        distinct_month = ('month', 'nunique')
    ).reset_index()

    return recipient

In-class work: 
#- define a python function that computes characteristic attributes for services
     - input: the service recipient event dataset
     -  output: a data frame, with rows for services and columns for various attributes of the services
     -  design your own attributes, see examples of attributes for recipients
- create a new dataframe that hold attributes for services
     - row keyed by service
     - columns contain attributes that output by the function you created
- experiment aggregation with or without reset_index() and see what happens

In [1]:
#Step 2,3,4 In-Class Exercise

def get_service_attributes(df):
    service_attributes = df.groupby('service').agg(
        unique_id=('MCI_UNIQ_ID', 'nunique'),
        total_services=('service', 'count'),
        diff_services=('service', 'nunique'),
        ).reset_index()
    return service_attributes

service_attributes_df = get_service_attributes(df)

print(service_attributes_df)
#It appears that reset_index() only collapses the data to make it more condense. Without it, it has to reprint all of the services/list all the services.

NameError: name 'df' is not defined

In [47]:
def get_service_attributes(df):
    sorted_data = df.groupby(['service', 'DATE_OF_EVENT'])['MCI_UNIQ_ID'].nunique().reset_index()
    service_attributes = sorted_data.groupby('service').agg({
        'MCI_UNIQ_ID': ['sum', 'mean']
    })
    service_attributes.columns = ['total_recipients', 'avg_monthly_recipients']
    
    return service_attributes

service_attributes_df = get_service_attributes(df)

print(service_attributes_df)
#Returns a list of services, the total numebr of recipients per service, and the average monthly number of recipients per service.

                                                    total_recipients  \
service
Children_Attending_Early_Childhood_Programs_Man...              2302
Children_Receiving_Child_Welfare_Services                      50373
Children_Receiving_DHS_Funded_Out_of_School_Pro...              4606
Children_Receiving_Early_Intervention_Services                 45923
Children_in_Care                                               18442
Families_Receiving_Child_Welfare_Services                      23473
Homeless_Population                                            13950
Homicides                                                        172
Individuals_Receiving_DHS_Services                            626722
Individuals_Receiving_Family_Strengthening_Prog...             28110
Individuals_Receiving_Homelessness_and_Housing_...            148968
Individuals_Receiving_Income_Supports                        5450993
Individuals_Receiving_Intellectual_Disability_S...             74145
Individuals_Receiving_Mental_Health_Services                  324241
Individuals_Receiving_Substance_Use_Disorder_Se...             74737
Involuntary_Commitments                                         7061
Jail_Population                                                26987
Mental_Health_Crises                                            7245
Older_Adults_Receiving_Services                               131153
Overdoses                                                       1319
Parents_Receiving_Child_Welfare_Services                       54035
Suicides                                                        1177

                                                    avg_monthly_recipients
service
Children_Attending_Early_Childhood_Programs_Man...              191.833333
Children_Receiving_Child_Welfare_Services                      4197.750000
Children_Receiving_DHS_Funded_Out_of_School_Pro...              383.833333
Children_Receiving_Early_Intervention_Services                 3826.916667
Children_in_Care                                               1536.833333
Families_Receiving_Child_Welfare_Services                      1956.083333
Homeless_Population                                            1162.500000
Homicides                                                        14.333333
Individuals_Receiving_DHS_Services                            52226.833333
Individuals_Receiving_Family_Strengthening_Prog...             2342.500000
Individuals_Receiving_Homelessness_and_Housing_...            12414.000000
Individuals_Receiving_Income_Supports                        454249.416667
Individuals_Receiving_Intellectual_Disability_S...             6178.750000
Individuals_Receiving_Mental_Health_Services                  27020.083333
Individuals_Receiving_Substance_Use_Disorder_Se...             6228.083333
Involuntary_Commitments                                         588.416667
Jail_Population                                                2248.916667
Mental_Health_Crises                                            603.750000
Older_Adults_Receiving_Services                               10929.416667
Overdoses                                                       109.916667
Parents_Receiving_Child_Welfare_Services                       4502.916667
Suicides                                                         98.083333

In [55]:
df.groupby("DATE_OF_EVENT").nunique()['MCI_UNIQ_ID']
#what conclusions can you draw about the services in all, and about individual services?
#any other information/insights you think may be interesting to be included?

#This lists the number of recipients by month, which shows a general increase throughout the year.
#It is interesting to see that the least 'service' is Homicides, whereas a lot of the programs directed at helping people are super popular.
#Still struggle a little with understanding .agg and rusty on my python, but getting there.

DATE_OF_EVENT
01/31/2021    457593
02/28/2021    461207
03/31/2021    465763
04/30/2021    469090
05/31/2021    467082
06/30/2021    470430
07/31/2021    473887
08/31/2021    477523
09/30/2021    484128
10/31/2021    489308
11/30/2021    494557
12/31/2021    495124
Name: MCI_UNIQ_ID, dtype: int64